
.index {
  min-height: 100vh;
  background-repeat: no-repeat;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(#615dad, #ffc8da);
  margin: auto;

}

.image {
  width: 100%;
  border-radius: 10px 10px 0 0;
  height: auto;
}

.kontejner {
  background-color: #283e50;
  width: 360px;
  border-radius: 8px 8px 0 0;
}

h1 {
  color: white;
  font-size: 44px;
  margin: 30px;
  text-align: center;
  font-family: 'Lobster', cursive;

  
}

.text {
  color: white;
  display: block;
  text-align: center;
  padding: 0 10px;
  margin-bottom: 40px;
  margin-top: 40px;
  line-height: 1.2;
}

.button {
  display: inline-block;
  text-decoration: none;
  color: white;
  text-align: center;
  width: 100%;
  height: auto;
  padding: 20px 0;


}

.pravidla {
  background-color: #1fcca4;
}

.pravidla:hover {
  background-color: #1cbb96;
}

.zacit {
  background-color: #0197f6;
  margin-top: 1px;
}

.zacit:hover {
  background-color: #0090e9;
}

/* ================= PRAVIDLA +++++++++++++++ */


.rulesDescription {
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(#615dad, #ffc8da);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: white;
}

.kontejnerRules {
  background-color: #283e50;
  max-width: 360px;
  border-radius: 8px 8px 0 0;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.rulesPicture{
  width: 100%;
  background-position: center;
}

.circle,
.cross {
  height: 1em;
  width: 1em;
  filter: invert(100%);

}

figurecaption {
  font-style: italic;
  font-size: 13px;
}

figure {
  text-align: center;
  padding-top: 5px;
}



ol {
  padding-right: 10px;
}

ol>li {
  margin-top: 10px;
}


/* 
========= WIDE SCREEN +++++++++++++++++++ */


@media screen and (min-width: 600px) {


  .kontejnerRules {
    max-width: 600px;
  }

  figurecaption {
    font-size: 14px;
  }

  .picture {
    display: flex;
    flex-wrap: wrap;
  }

  .pictureRules {
    flex-basis: 49%;
  }

  ol {
    padding-right: 30px;
  }
}

/* ================= HRA +++++++++++++++ */

.index--hra {
  max-width: 80vmin;
  display: block;

}

.player_panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  
  width: 100%;
  padding-bottom: 10px;

}

.player {
  color: white;
  text-transform: uppercase;
  font-size:1.5em ;
  font-weight: 900;
}



.btn {
  border-radius: 10%;
  margin: 3px;
  height: 35px;
 
 

}

.btn_home {
  background-color: #1fcca4; 
  border: none;
}

.btn_home:hover {
  background-color: #1cbb96;
}

.btn_restart {
  background-color: #0197f6;
  border: none;
}

.btn_restart:hover {
  background-color: #0090e9;
}



