.index {
  min-height: 100vh;
  background-repeat: no-repeat;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(#615dad, #ffc8da);
  margin: auto;
}

.image {
  width: 100%;
  border-radius: 10px 10px 0 0;
  height: auto;
}

.kontejner {
  background-color: #283e50;
  width: 360px;
  border-radius: 8px 8px 0 0;
}

h1 {
  color: white;
  font-size: 44px;
  margin: 30px;
  text-align: center;
  font-family: 'Lobster', cursive;
}

.text {
  color: white;
  display: block;
  text-align: center;
  padding: 0 10px;
  margin-bottom: 40px;
  margin-top: 40px;
  line-height: 1.2;
}

.button {
  display: inline-block;
  text-decoration: none;
  color: white;
  text-align: center;
  width: 100%;
  height: auto;
  padding: 20px 0;
}

.pravidla {
  background-color: #1fcca4;
}

.pravidla:hover {
  background-color: #1cbb96;
}

.zacit {
  background-color: #0197f6;
  margin-top: 1px;
}

.zacit:hover {
  background-color: #0090e9;
}

/* ================= PRAVIDLA +++++++++++++++ */

.rulesDescription {
  font-family: Arial, Helvetica, sans-serif;
  background-image: linear-gradient(#615dad, #ffc8da);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: auto;
  color: white;
}

.kontejnerRules {
  background-color: #283e50;
  max-width: 360px;
  border-radius: 8px 8px 0 0;
  justify-content: center;
  margin-top: 10px;
  margin-bottom: 10px;
}

.rulesPicture {
  width: 100%;
  background-position: center;
}

.circle,
.cross {
  height: 1em;
  width: 1em;
  filter: invert(100%);
}

figurecaption {
  font-style: italic;
  font-size: 13px;
}

figure {
  text-align: center;
  padding-top: 5px;
}

ol {
  padding-right: 10px;
}

ol > li {
  margin-top: 10px;
}

/* 
========= WIDE SCREEN +++++++++++++++++++ */

@media screen and (min-width: 600px) {
  .kontejnerRules {
    max-width: 600px;
  }

  figurecaption {
    font-size: 14px;
  }

  .picture {
    display: flex;
    flex-wrap: wrap;
  }

  .pictureRules {
    flex-basis: 49%;
  }

  ol {
    padding-right: 30px;
  }
}

/* ================= HRA +++++++++++++++ */

.index--hra {
  max-width: 80vmin;
  display: block;
  margin-bottom: 40px;
}

.player_panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding-bottom: 10px;
}

.player {
  color: white;
  text-transform: uppercase;
  font-size: 1.5em;
  font-weight: 900;
  filter: invert(100%);
}

.circle_play {
  border: 4px solid white;
  border-radius: 50%;
  width: 0.75em;
  height: 0.75em;
  display: inline-block;
  margin-left: 3px;
  position: relative;
  top: 3px;
}

.player_icon {
  border-radius: 10%;
  margin: 5px;
  height: 35px;
}

.btn_home {
  background-color: #1fcca4;
  padding: 8px;
  border: none;
}

.btn_home:hover,
.btn_home:focus {
  background-color: #1cbb96;
}

.btn_restart {
  background-color: #0197f6;
  padding: 8px;
  border: none;
}

.btn_restart:hover,
.btn_restart:focus {
  background-color: #0090e9;
}

.game_field {
  display: flex;
  flex-wrap: wrap;
  max-width: 80vmin;
  background-image: linear-gradient(#615dad, #ffc8da);
}




.field {
  margin: 0px;
  padding: 0px;
  width: 10%;
  height: 8vmin;
  opacity: 0.5;
  border: 1px solid black;

}

.field:hover,
.field:focus {
  opacity: 0.6;
}


.hraje {
color:white;
font-size: 20px;
font-weight: bold;
}



.board__field--circle {
  background-image: url('images/circle.svg');
  background-size: 1.75rem;
  background-position: center;
  background-repeat: no-repeat;
}

.board__field--cross {
background-image: url('images/cross.svg');
background-size: 1.75rem;
background-position: center;
background-repeat: no-repeat;
}
